.btn-primary {
	margin: 1rem 0;
	padding: 1rem 2rem;
	border: 0;
	border-radius: 2rem;
	outline: none;
	background: #007248;
	text-transform: uppercase;
	color: #fff;
	box-shadow: 0 0 5px #007248;
	opacity: 0.85;
	transition: opacity 0.2s ease;
}

.btn-primary:hover {
	opacity: 1;
}

.btn-active {
}
