* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Ubuntu", Arial, sans-serif;
	line-height: 1.4;
	color: #444;
	height: 100vh;
	font-size: 600;
}

a {
	text-decoration: none;
	color: #000;
}

button:hover {
	cursor: pointer;
}

li {
	list-style: none;
	display: block;
	transition-duration: 0.5s;
}

li:hover {
	cursor: pointer;
}

.ml-10 {
	margin-left: 10px;
}

.mr-10 {
	margin-right: 10px;
}
