* {
	padding: 0;
	margin: 0;
	box-sizing: content-box;
}

body {
	font-family: "Ubuntu", Arial, sans-serif;
	line-height: 1.4;
	color: #444;
	height: 100vh;
	font-size: 600;
}

a {
	text-decoration: none;
	color: #000;
}

.ml-10 {
	margin-left: 10px;
}

.mr-10 {
	margin-right: 10px;
}
